@charset "UTF-8";

.profile-wrapper{
    margin-bottom: 225px;
}
h3{
    font-size: 1.8rem;
    color: #24292E;
    font-weight: initial;
    margin-bottom: 37px;
    letter-spacing: -0.08rem;
}
.adress-wrapper{
    margin-bottom: 41px;
    line-height: calc(17 / 14.4);
    letter-spacing: -0.07rem;
}
.profile-text{
    line-height: calc(17 / 10);
}
.profile-text p{
    font-size: 1.44rem;
}

@media screen and (max-width: 750px){
    .profile-wrapper{
        margin-top: 23px;
        margin-bottom: 216px;
    }
    h3{
        margin-bottom: 30px;
    }
    .adress-wrapper{
        margin-bottom: 48px;
    }

}