@charset "UTF-8";

/* 共通 */
.profile-wrapper{
    margin-bottom: 125px;
}

h3{
    font-size: 1.8rem;
    color: #24292E;
    font-weight: bold;
    margin-bottom: 37px;
    letter-spacing: -0.08rem;
}

@media screen and (max-width: 750px){
    .profile-wrapper{
        margin-top: 23px;
        margin-bottom: 216px;
    }
    h3{
        margin-bottom: 30px;
    }
}
/* 共通 */

/* profile-text */
.profile-text{
    text-align: center;
    line-height: calc(17 / 10);
}

.profile-text p{
    font-size: 1.44rem;
}
/* profile-text */

/* profile-biography */
.profile-biography dl{
    font-size: 1.44rem;
}
/* profile-biography */

/* profile-skill */
.profile-skill .flex-wrapper{
    display: flex;
}
/* profile-skill */