@charset "UTF-8";

.photo-works1,
.photo-works2,
.photo-works3{
    width: 640px;
    margin: 0 auto;
}

.photo-works2,
.photo-works3{
    margin-top: 30px;
}

.workspage-images{
    margin-bottom: 15px;
}

.works-text{
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: calc(17 / 10.3);
}

.works-explanation dd{
    position: relative;
    padding-left: 18px;
}

.works-explanation dd::before{
    position: absolute;
    content: "";
    top: 30%;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #000;
}

.hp-adress{
    margin-top: 15px;
}

@media screen and (max-width: 750px){
    .works-contents{
        margin-top: 23px;
    }
    .title{
        margin-bottom: 34px;
    }
    .photo-works1,
    .photo-works2{
        width: initial;
    }
}